.header {
    @include center-flex;
    background-color: $primary-color;
    color: #fff;
    height: $header-height;
    font-family: $font-family;
  width: max-content;
  width: 75%;
  justify-content: space-between;
    .logo {
      font-size: 1.5em;
      font-weight: bold;
      margin-left: 20px;
    }
    section{
        height: max-content;
        display: grid;
        grid-template-columns: auto auto;
        p{
            margin: 0;
            grid-column: 1;
        }
    }
  img{
    grid-column: 2;
    grid-row: 1/3;
    margin-top: 15px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%
  }
    nav {
      @include center-flex;
      ul {
        @include center-flex;
        list-style: none;
        margin: 0;
        padding: 0;
  
        li {
          margin: 0 10px;
  
          a {
            color: #fff;
            text-decoration: none;
            font-size: 1em;
            transition: color 0.3s ease;
  
            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }