@font-face {
  font-family: circular-black;
  src: url(/src/assets/fonts/lineto-circular-black.ttf);
}

@font-face {
  font-family: circular-bold;
  src: url(/src/assets/fonts/lineto-circular-bold.ttf);
}

@font-face {
  font-family: circular-book;
  src: url(/src/assets/fonts/lineto-circular-book.ttf);
}

@font-face {
  font-family: circular-medium;
  src: url(/src/assets/fonts/lineto-circular-medium.ttf);
}
